.diagram-component {
    height: 800px;
    border: solid 1px black;
    background-color: white;
    overflow: hidden;
    width: 120vw;
    margin-left: -20vw;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  body {
    overflow: hidden;
  }