body {
  background: #020202;
}

.anim {
  animation: myAnim 3s ease 0s infinite normal forwards;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
