@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(145deg, #020202 55%, #030303 100%);
}

.filter {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.filter:hover {
  filter: drop-shadow(0 0 6px #6547eb);
  transform: scale(1.06);
}

.logoshadow {
  filter: drop-shadow(2px 2px 3px #000000);
}

.getStarted {
  --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
  --edge-light: hsla(0, 0%, 50%, 0.8);
  --text-light: rgba(255, 255, 255, 0.4);
  --back-color: 240, 40%;

  cursor: pointer;
  padding: 0.9em;
  border-radius: 0.5em;
  min-height: 2.4em;
  min-width: 3em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  font-size: 22px;
  letter-spacing: 0.06em;
  line-height: 1;
  font-weight: bold;

  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 50%, 1) min(2em, 20%),
    hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
  );
  color: hsla(0, 0%, 90%);
  border: 0;
  box-shadow: inset 0.4px 1px 4px var(--edge-light);

  transition: all 0.1s var(--bezier);
}

@media (max-width: 1024px) {
  .getStarted {
    font-size: 16px;
  }
}

.getStarted:hover {
  --edge-light: hsla(0, 0%, 50%, 1);
  text-shadow: 0px 0px 10px var(--text-light);
  box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(0, 0%, 0%, 0.295);
  transform: scale(1.1);
}

.getStarted:active {
  --text-light: rgba(255, 255, 255, 1);

  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 50%, 1) min(2em, 20%),
    hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
  );
  box-shadow: inset 0.4px 1px 8px var(--edge-light),
    0px 0px 8px hsla(var(--back-color), 50%, 0.6);
  text-shadow: 0px 0px 20px var(--text-light);
  color: hsla(0, 0%, 100%, 1);
  letter-spacing: 0.1em;
  transform: scale(1);
}

.animated-button {
  position: relative;
  display: inline-block;
  padding: 10px 24px;
  margin-top: 20px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff40;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #6547eb;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button a:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #35257f;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}

.headbutton {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  color: black;
  padding: 0.4em 0.6em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.gray {
  background: dimgray;
}

.indigo {
  background: #6547eb;
}

.headbutton span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s ease-in-out;
}

.headbutton .headsvg {
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.headbutton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.headbutton:hover .headsvg {
  transform: translateX(1.6em) scale(1.2);
}

.headbutton:hover span {
  transform: translateX(5em);
}

.headbutton:active {
  transform: scale(0.95);
}

.teeter {
  animation: teeter 3s ease 0s infinite normal forwards;
}

.shine path {
  animation: godray 1s linear infinite alternate;
}

@keyframes godray {
  0% {
    fill: #1c1c1c;
  }
  100% {
    fill: #0d0d0d;
  }
}

@keyframes teeter {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes move {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1;
  }
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}
